@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&family=Poppins:wght@700&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oxanium', cursive;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #333;
}

.container {
    width: 700px;
    height: 550px;
    background-color: #e8e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav .brand-name {
    margin-right: 80vh;
    align-items: center;
}

.logo{
    width: 50px;
    align-items: center;
    margin-right: 100vh;
    margin-top: 10px;
}

.login-bg { 
    background-image: url("/assets/img/bg2.png");
    width: 980px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 800px 600px;
}

.login-bg .front h1{
    margin-top: 160px;
    margin-left: 90px;
    width: 60vh;
    height: 50px;
    color: white;
    font-weight: bolder;
    font-size: 7vh;
    font-family:'Oxanium', cursive;
}

.login {
    display: grid;
    grid-template-columns: 1fr;
}

form {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-right: 122px;
    margin-top: 20px;
    font-size: 3vh;
    color: black;
    font-weight: bold;
    font-family:'Oxanium', cursive;
}

.login .yellow-line {
    background-color: gold;
    padding: 1px;
    width: 2vw;
    margin-right: 190px;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

.input-field input {
    margin-top: 10px;
    border-radius: 5px;
    height: 45px;
    width: 35vh;
    flex: 5;
    border: 2px;
    outline: 2px;
    background: white;
    font-style: italic;
    font-size: 12px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

p,
a {
    font-size: 14px;
    color: white;
}

.forgot-password {
    margin-top: 10px;
    margin-right: 103px;
    color: black;
    align-self: flex-end;
    font-style: italic;
}

.btn {
    clip-path: polygon(25% 0%, 87% 1%, 75% 100%, 12% 100%);
    width: 150px;
    height: 30px;
    background: gold;
    outline: none;
    border: 2px solid gold;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 90px;
    color: black;
    font-family:'Oxanium', cursive;
}

.btn {
    font-weight: bold;
}

.btn1 {
    clip-path: polygon(88% 0, 100% 0, 64% 100%, 50% 100%);
    margin-top: 36.5vh;
    margin-left: 28vh;
    width: 50px;
    height: 30px;
    background: gold;
    outline: none;
    border: 2px solid gold;
    position: fixed;
}

.btn2 {
    clip-path: polygon(88% 0, 100% 0, 64% 100%, 50% 100%);
    margin-top: 36.5vh;
    margin-left: 31vh;
    width: 50px;
    height: 30px;
    background: gold;
    outline: none;
    border: 2px solid gold;
    position: fixed;
    opacity: 0.5;
}

.btn:hover {
    color: rgb(255, 255, 255);
    border: none;
    background: gold;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer .footer-col{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.footer .footer-col p {
    padding-top: 8px;
    font-size: 12px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 6px;
    margin-right: 70%;
    font-family:'Oxanium', cursive;
}

.foot-yellow {
    background-color: #24262b;
    padding: 70px 0;
}

.foot-yellow .yellow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    background-image: linear-gradient(to right, gold , rgb(255, 136, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media screen and (max-width:720px) {
    .container .header {
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .container .header .nav .brand-name {
        align-items: center;
        width: 50px;
        margin-left: 240px;
    }    
}

@media screen and (max-width:720px) {
    .login-bg {
        display: none;
    }
}

@media screen and (max-width:720px) {
    .login {
        background-image: url("/images/mbg.png");
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        position: absolute;
        align-items: center;
    }
    .login .title {
        color: white;
    }
    .login a {
        color: white;
    }
    .login .btn {
        margin-left: 28%;
    }
}

@media screen and (max-width:720px) {
    .login .btn1 {
        display: none;
        position: absolute;
        margin-top: 60%;
    }
    .login .btn2 {
        display: none;
        margin-top: 60%;
        position: absolute;
    }
}

@media screen and (max-width:430px) {
    .login .yellow-line {
        background-color: gold;
        padding: 1px;
        width: 2vw;
        margin-right: 190px;
        align-items: center;
    }
}

@media screen and (max-width:720px) {
    .container .foot-yellow .yellow {
        align-items: center;
        width: 100%;
    }
    .container .footer .footer-col {
        align-items: center;
        width: 500%;
    }
    .container .footer .footer-col p{
        align-items: center;
        width: 100%;
        font-size: 10px;
        margin-left: 5px;
    }

}